<?php
    $objMA = $this->objMA;
?>

<div class="container mycontainer">
    <div class="row">
        <div class="col-md-2">
            <?= $objMA->getAmount(); ?>  
        </div>        
        <div class="col-md-2">
            <?= $objMA->getCurrency(); ?>
        </div>        
    </div>
</div>

