<?php     
    /*getting values */
       
    $this->headTitle('SEND MAILS');	
    
    /**
     * @var Zend\Form  
     */  
    $form = $this->form;
    $response = $this->response;
    
    $form->get('email')->setAttributes(['class' => 'form-control',]);
    $form->get('subject')->setAttributes(['class' => 'form-control',]);
    $form->get('message')->setAttributes(['class' => 'form-control',]);            
           
    $form->get('submit')->setAttributes(['class'=>'btn btn-danger']);
  
    /* prepare for before rendering */
    $form->prepare();      
?>

<div class="container">                 
    <?php if ($response!==''):?>
        <div class="mycontainer">
            <?= $response; ?>
        </div>
    <?php endif; ?>

    <br>
    <!-- Open Form Tag  -->
    <?= $this->form()->openTag($form); ?>
    <div class="row"> 
        
        <div class="col-md-6">
            <?= $this->FormRow($form->get('email')); ?>              
            <?= $this->FormRow($form->get('subject')); ?>              
            <?= $this->FormRow($form->get('message')); ?> 

            <!-- CROSS SITE REQUEST FORGERY CHECKING -->    
            <!-- <1?= $this->formElement($form->get('csrf')); ?> -->

            <div class="form-group">
                <br>
                <?= $this->formElement($form->get('submit')); ?>  
            </div>
        </div>  
        <div class ="col-md-3">        
            
        </div>    
    </div><!-- offset... -->  
    <?= $this->form()->closeTag(); ?>
</div>

